@page {
	/* size: 74mm 105mm; */
	/* size: 105mm 148mm; */
	size: A5;
	margin: 0mm;
	border: 1px solid black;
}

body {
	font-family: 'Nimbus Mono PS', 'Courier New', monospace;
	line-height: 2;
	margin: 0;
	padding: 0;
}

img {
	margin: 0;
}

h1 {
	text-transform: uppercase;
	font-size: 6rem;
	text-align: center;
	color: white;
	margin-bottom: 0;
}


h2 {
	text-align: right;
	color: darkgrey;
	line-height: 1;
	display: inline-block;
	float: right;
}

h3 {
	text-align: left;
	color: darkgrey;
	line-height: 1;
	display: inline-block;
}
